/* font-family: 'Gruppo', cursive;
font-family: 'JetBrains Mono', monospace; */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Gruppo", cursive;
  color: #ffffff;
}

header,
footer {
  background-color: #ffffff;
  color: #000000;
}

main {
  background-color: #6f6f6f;
  display: flex;
  flex-direction: column;
}

.directions {
  font-family: "JetBrains Mono", monospace;
}

.inputs {
  display: flex;
  flex-direction: column;
  background-color: #000000;
}

.upper,
.lower {
  display: flex;
}

.upper-text,
.lower-text {
  display: flex;
  flex-direction: column;
}

hr {
  width: 273px;
  border: 2px solid #FFFFFF;
}

button {
  width: 123px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  font-size: 24px;
  text-align: center;
}

.output {
  width: 100%;
  margin: 12px auto;
}

.empty-output {
  width: 303px;
  height: 205px;
  border: 1px solid #ffffff;
  border-radius: 10px;
}

.text-output {
  text-align: center;
}

.text-dark {
  color: #000000;
}

footer {
  display: flex;
  flex-direction: column;
}
